/* font-family: "Raleway"; */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Black.eot');
  src: url('../fonts/Raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-Black.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Black.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Black.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Thin.eot');
  src: url('../fonts/Raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Thin.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Thin.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-ExtraLight.eot');
  src: url('../fonts/Raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-ExtraLight.woff') format('woff'),
  url('../fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Medium.eot');
  src: url('../fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-ExtraBold.eot');
  src: url('../fonts/Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Bold.eot');
  src: url('../fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Light.eot');
  src: url('../fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Light.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Light.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-SemiBold.eot');
  src: url('../fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.eot');
  src: url('../fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "Solomon Sans"; */
@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Light.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Light.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Light.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Light.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Light.svg#Solomon-Sans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans Book';
  src: url('../fonts/SolomonSans/Solomon-Sans-Book.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Book.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Book.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Book.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Book.svg#Solomon-Sans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Black.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Black.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Black.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Black.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Black.svg#Solomon-Sans-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-SemiBold.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold.svg#Solomon-Sans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans Normal';
  src: url('../fonts/SolomonSans/Solomon-Sans-Normal.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal.svg#Solomon-Sans-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Black-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Black-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Black-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Black-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Black-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Black-Italic.svg#Solomon-Sans-Black-Italic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Solomon Sans Normal';
  src: url('../fonts/SolomonSans/Solomon-Sans-Normal-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Normal-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Normal-Italic.svg#Solomon-Sans-Normal-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Bold-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Bold-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold-Italic.svg#Solomon-Sans-Bold-Italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Bold.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Bold.svg#Solomon-Sans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans Book';
  src: url('../fonts/SolomonSans/Solomon-Sans-Book-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Book-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Book-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Book-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Book-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Book-Italic.svg#Solomon-Sans-Book-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-SemiBold-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-SemiBold-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-SemiBold-Italic.svg#Solomon-Sans-SemiBold-Italic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Thin.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin.svg#Solomon-Sans-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Thin-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Thin-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Thin-Italic.svg#Solomon-Sans-Thin-Italic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans/Solomon-Sans-Light-Italic.eot');
  src: url('../fonts/SolomonSans/Solomon-Sans-Light-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SolomonSans/Solomon-Sans-Light-Italic.woff2') format('woff2'),
  url('../fonts/SolomonSans/Solomon-Sans-Light-Italic.woff') format('woff'),
  url('../fonts/SolomonSans/Solomon-Sans-Light-Italic.ttf') format('truetype'),
  url('../fonts/SolomonSans/Solomon-Sans-Light-Italic.svg#Solomon-Sans-Light-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}


$Raleway: "Raleway";
$Solomon: "Solomon Sans";

/*# sourceMappingURL=_fontface.css.map */