%flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

%ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

%img-full {
	width: 100%;
	height: auto;
}

@mixin transition($second) {
	-webkit-transition: all $second ease-in-out;
	-moz-transition: all $second ease-in-out;
	-o-transition: all $second ease-in-out;
	transition: all $second ease-in-out;
}

*::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #666;}
*::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #666;}
*:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #666;}
*:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #666;}
*:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
*:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}