@import "normalize";
@import "fontface";
@import "settings";

/*Basic styles -----------------------------------------------------------*/
  * {
    box-sizing: border-box;
  }
  body {
    font-family: $Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../images/bg-top-left.png') no-repeat top left, url('../images/bg-top-right.png') no-repeat top right 20%;
    background-size: 19% auto, 56% auto;
  }
  .page-container {
	max-width: 1200px;
	padding: 0 10px;
	width: 100%;
	margin: 0 auto;	
  }


/*All styles -----------------------------------------------------------*/
  /*main-page styles -----------------------------------------------------*/
  .top-wrap {
    padding: 2.8rem 0 3.3rem;
    .box-logo {
      max-width: 240px;
      width: 100%;
      margin-bottom: 3rem;
      img {
        width: 100%;
        height: auto;
      }
    }
    .box-title {
      margin: 0 0 0.4rem;
      color: #666;
      font-size: 28px;
      line-height: 1;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      b {
        font-weight: 700;
      }
    }
    .box-sub-title {
      margin: 0;
      color: #1058a3;
      font-size: 30px;
      line-height: 1;
      font-weight: 300;
      letter-spacing: 0.2px;
      b {
        font-weight: 700;
      }
    }
  }
  .bottom-wrap {
    margin-top: auto;
    background: rgba(0,118,192,1);
    background: -moz-linear-gradient(top, rgba(0,118,192,1) 0%, rgba(29,64,141,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,118,192,1)), color-stop(100%, rgba(29,64,141,1)));
    background: -webkit-linear-gradient(top, rgba(0,118,192,1) 0%, rgba(29,64,141,1) 100%);
    background: -o-linear-gradient(top, rgba(0,118,192,1) 0%, rgba(29,64,141,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,118,192,1) 0%, rgba(29,64,141,1) 100%);
    background: linear-gradient(to bottom, rgba(0,118,192,1) 0%, rgba(29,64,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0076c0', endColorstr='#1d408d', GradientType=0 );
    padding: 2.3rem 0 1rem;
    .box-description {
      max-width: 365px;
      color: #fff;
      font-size: 18px;
      line-height: 1.55;
      font-weight: 300;
      letter-spacing: 0.5px;
      margin-bottom: 1.6rem;
    }
    .box-tel {
      position: relative;
      letter-spacing: -0.5px;
      padding-left: 4.8rem;
      margin-bottom: 0.4rem;
      &:after {
        content: '';
        position: absolute;
        width: 51px;
        height: 51px;
        background: url('../images/viber.png') no-repeat center;
        background-size: contain;
        top: 50%;
        margin-top: -25.5px;
        left: 0;
      }
      a {
        text-decoration: none;
        outline: none;
        color: #fff;
        font-size: 48px;
        line-height: 1;
        font-family: $Solomon;
        font-weight: 600;
      }
    }
    .box-mail {
      padding-left: 4.8rem;
      margin-bottom: 1.6rem;
      a {
        text-decoration: none;
        outline: none;
        color: #fff;
        font-family: $Solomon;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
      }
    }
    .box-info {
      padding-left: 4.8rem;
      color: #fff;
      font-size: 16px;
      line-height: 1.125;
      font-weight: 300;
      max-width: 335px;
    }
    .box-copyright {
      max-width: 400px;
      border-top: 1px solid #7690be;
      color: #7690be;
      font-size: 10px;
      line-height: 1;
      font-weight: 300;
      margin-top: 1.7rem;
      padding-top: 1.1rem;
      letter-spacing: 1px;
    }
    .page-container {
      position: relative;
    }
    .right-wrap {
      z-index: 2;
      position: absolute;
      bottom: -1rem;
      right: 1.1rem;
      width: 57.8%;
      display: flex;
      align-items: flex-end;
      img {
        width: auto;
        height: auto;
        max-height: 100vh;
        max-width: 100%;
      }
    }
    .section-wrap {
      z-index: 3;
      position: relative;
    }
  }
  .right-bg {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 13.6%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}
  .section-wrap {
    width: 45.5%;
    padding-left: 5rem;
  }


/*All media screen -----------------------------------------------------*/
  /*media screen 1100*/
  @media screen and (max-width: 1100px){
    .page-container {
      padding: 0 30px;
    }
    .section-wrap {
      padding: 0;
    }
    .bottom-wrap {
      .right-wrap {
        right: 0;
        justify-content: flex-end;
      }
    }
  }

  /*media screen 1000*/
  @media screen and (max-width: 767px){
    body {
      align-items: flex-start;
    }
    .wrapper {
      background: url('../images/mobile-bg-top-right.png') no-repeat top right;
      background-size: 55% auto;
      min-height: initial;
    }
    .section-wrap {
      width: 100%;
    }
    .top-wrap {
      padding: 2.5rem 0 2.8rem;
      position: relative;
      .box-logo {
        max-width: 180px;
        margin-bottom: 2.7rem;
      }
      .box-title {
        margin: 0 0 1.1rem;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: normal;
        overflow: hidden;
      }
      .box-sub-title {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: normal;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        background: url('../images/right-wrap-mobile.png') no-repeat right bottom;
        background-size: auto;
        width: 100%;
        height: 100%;
      }
    }
    .bottom-wrap {
      margin-top: 0;
      background: rgba(29,64,141,1);
      background: -moz-linear-gradient(55deg, rgba(29,64,141,1) 0%, rgba(0,118,192,1) 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(29,64,141,1)), color-stop(100%, rgba(0,118,192,1)));
      background: -webkit-linear-gradient(55deg, rgba(29,64,141,1) 0%, rgba(0,118,192,1) 100%);
      background: -o-linear-gradient(55deg, rgba(29,64,141,1) 0%, rgba(0,118,192,1) 100%);
      background: -ms-linear-gradient(55deg, rgba(29,64,141,1) 0%, rgba(0,118,192,1) 100%);
      background: linear-gradient(55deg, rgba(29,64,141,1) 0%, rgba(0,118,192,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d408d', endColorstr='#0076c0', GradientType=1 );
      padding: 2.7rem 0 5.6rem;
      .box-description {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 400;
        margin-bottom: 2.2rem;
      }
      .box-tel {
        padding-left: 3.5rem;
        margin-bottom: .9rem;
        &:after {
          width: 42px;
          height: 42px;
          margin-top: -21px;
        }
      }
      .box-mail {
        padding-left: 3.5rem;
        margin-bottom: 2.3rem;
        a {
          font-size: 24px;
          text-decoration: underline;
        }
      }
      .box-info {
        padding-left: 3.5rem;
        max-width: 310px;
        letter-spacing: 0.5px;
      }
      .box-copyright {
        display: none;
      }
      .right-wrap {
        display: none;
      }
    }
    .right-bg {
      right: -5%;
      top: inherit;
      bottom: -5%;
      width: 34%;
    }
  }

  /*media screen 480*/
  @media screen and (max-width: 480px){
    .page-container {
      padding: 0 10px;
    }
    .top-wrap {
      padding: 2rem 0 2.8rem;
      &:after {
        background-size: contain;
        width: 45%;
        height: 65%;
      }
      .box-title {
        span {
          display: none;
        }
      }
    }
    .bottom-wrap {
      padding: 2rem 0 3rem;
      .box-description {
        font-size: 18px;
      }
      .box-tel {
        a {
          font-size: 24px;
        }
      }
      .box-mail {
        margin-bottom: 1.5rem;
        a {
          font-size: 18px;
        }
      }
    }
  }