@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Light.eot');
    src: url('Solomon-Sans-Light.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Light.woff2') format('woff2'),
        url('Solomon-Sans-Light.woff') format('woff'),
        url('Solomon-Sans-Light.ttf') format('truetype'),
        url('Solomon-Sans-Light.svg#Solomon-Sans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans Book';
    src: url('Solomon-Sans-Book.eot');
    src: url('Solomon-Sans-Book.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Book.woff2') format('woff2'),
        url('Solomon-Sans-Book.woff') format('woff'),
        url('Solomon-Sans-Book.ttf') format('truetype'),
        url('Solomon-Sans-Book.svg#Solomon-Sans-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Black.eot');
    src: url('Solomon-Sans-Black.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Black.woff2') format('woff2'),
        url('Solomon-Sans-Black.woff') format('woff'),
        url('Solomon-Sans-Black.ttf') format('truetype'),
        url('Solomon-Sans-Black.svg#Solomon-Sans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-SemiBold.eot');
    src: url('Solomon-Sans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-SemiBold.woff2') format('woff2'),
        url('Solomon-Sans-SemiBold.woff') format('woff'),
        url('Solomon-Sans-SemiBold.ttf') format('truetype'),
        url('Solomon-Sans-SemiBold.svg#Solomon-Sans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans Normal';
    src: url('Solomon-Sans-Normal.eot');
    src: url('Solomon-Sans-Normal.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Normal.woff2') format('woff2'),
        url('Solomon-Sans-Normal.woff') format('woff'),
        url('Solomon-Sans-Normal.ttf') format('truetype'),
        url('Solomon-Sans-Normal.svg#Solomon-Sans-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Black-Italic.eot');
    src: url('Solomon-Sans-Black-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Black-Italic.woff2') format('woff2'),
        url('Solomon-Sans-Black-Italic.woff') format('woff'),
        url('Solomon-Sans-Black-Italic.ttf') format('truetype'),
        url('Solomon-Sans-Black-Italic.svg#Solomon-Sans-Black-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans Normal';
    src: url('Solomon-Sans-Normal-Italic.eot');
    src: url('Solomon-Sans-Normal-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Normal-Italic.woff2') format('woff2'),
        url('Solomon-Sans-Normal-Italic.woff') format('woff'),
        url('Solomon-Sans-Normal-Italic.ttf') format('truetype'),
        url('Solomon-Sans-Normal-Italic.svg#Solomon-Sans-Normal-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Bold-Italic.eot');
    src: url('Solomon-Sans-Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Bold-Italic.woff2') format('woff2'),
        url('Solomon-Sans-Bold-Italic.woff') format('woff'),
        url('Solomon-Sans-Bold-Italic.ttf') format('truetype'),
        url('Solomon-Sans-Bold-Italic.svg#Solomon-Sans-Bold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Bold.eot');
    src: url('Solomon-Sans-Bold.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Bold.woff2') format('woff2'),
        url('Solomon-Sans-Bold.woff') format('woff'),
        url('Solomon-Sans-Bold.ttf') format('truetype'),
        url('Solomon-Sans-Bold.svg#Solomon-Sans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans Book';
    src: url('Solomon-Sans-Book-Italic.eot');
    src: url('Solomon-Sans-Book-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Book-Italic.woff2') format('woff2'),
        url('Solomon-Sans-Book-Italic.woff') format('woff'),
        url('Solomon-Sans-Book-Italic.ttf') format('truetype'),
        url('Solomon-Sans-Book-Italic.svg#Solomon-Sans-Book-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-SemiBold-Italic.eot');
    src: url('Solomon-Sans-SemiBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-SemiBold-Italic.woff2') format('woff2'),
        url('Solomon-Sans-SemiBold-Italic.woff') format('woff'),
        url('Solomon-Sans-SemiBold-Italic.ttf') format('truetype'),
        url('Solomon-Sans-SemiBold-Italic.svg#Solomon-Sans-SemiBold-Italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Thin.eot');
    src: url('Solomon-Sans-Thin.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Thin.woff2') format('woff2'),
        url('Solomon-Sans-Thin.woff') format('woff'),
        url('Solomon-Sans-Thin.ttf') format('truetype'),
        url('Solomon-Sans-Thin.svg#Solomon-Sans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Thin-Italic.eot');
    src: url('Solomon-Sans-Thin-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Thin-Italic.woff2') format('woff2'),
        url('Solomon-Sans-Thin-Italic.woff') format('woff'),
        url('Solomon-Sans-Thin-Italic.ttf') format('truetype'),
        url('Solomon-Sans-Thin-Italic.svg#Solomon-Sans-Thin-Italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('Solomon-Sans-Light-Italic.eot');
    src: url('Solomon-Sans-Light-Italic.eot?#iefix') format('embedded-opentype'),
        url('Solomon-Sans-Light-Italic.woff2') format('woff2'),
        url('Solomon-Sans-Light-Italic.woff') format('woff'),
        url('Solomon-Sans-Light-Italic.ttf') format('truetype'),
        url('Solomon-Sans-Light-Italic.svg#Solomon-Sans-Light-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

